.copyRight {
  max-width: 1188px;
  margin: 15px auto;
}
.copyRight p {
  font-size: 15px;
  font-weight: 400;
  color: #000000;
  text-align: center;
}

@media (max-width: 767px) {
  .copyRight p {
    font-size: 12px;
    font-weight: 300;
  }
}
