.footerClient {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 25px;
}
.footerClient img {
  margin-top: 10px;
}
.footerLogo {
  display: flex;
  flex-direction: column;
  width: 70%;
  direction: ltr;
}
.footerLogo p {
  text-align: justify;
  margin-bottom: 7px;
  margin-top: 15px;
}
