.container {
  border-bottom: 1px solid #00000033;
}
.footer {
  max-width: 1188px;
  margin: 0 auto;
  border-top: 1px solid #00000033;
}

.footerBottom {
  padding: 20px 0;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .footer {
    border-top: 2px dashed #00000033;
    margin: 25px 25px 0;
  }
  .footerBottom {
    flex-wrap: wrap !important;
    padding: 20px 0 15px;
  }
}
