.container {
  border-top: 1px solid #00000033;
}
.footerTop {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0px;
  gap: 35px;
  max-width: 1188px;
  margin: 0 auto;
}
.footerInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.footerInfo img {
  width: 100%;
  height: auto;
}
.footerInfoText h4 {
  font-size: 26px;
  font-weight: 500;
  color: #282828;
}
.footerInfoText p {
  font-size: 16px;
  font-weight: 300;
  color: #282828;
}

@media (max-width: 767px) {
  .container {
    margin: 25px;
  }
  .footerTop {
    flex-direction: column;
    padding: 20px 0 0px;
    gap: 20px;
  }
  .footerInfo {
    justify-content: flex-start;
  }
  .footerInfo div img {
    width: 71.5px;
    height: 64px;
  }
  .footerInfoText h4 {
    font-size: 14px;
    font-weight: 500;
  }
  .footerInfoText p {
    font-size: 12px;
    font-weight: 300px;
    padding-top: 5px;
  }
}
