.footerClient {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 25px;
}
.footerClient img {
  margin-top: 10px;
}
.footerLogo {
  display: flex;
  flex-direction: column;
  width: 70%;
  direction: ltr;
}
.footerLogo p {
  text-align: justify;
  margin-bottom: 7px;
  margin-top: 15px;
}

@media (max-width: 767px) {
  .footerLogo {
    display: flex;
    justify-content: space-between;
    flex-direction: inherit;
    width: 100%;
    align-items: center;
  }
  .footerLogo .logo {
    width: 55%;
    margin-top: 20px;
  }
  .footerLogo .logo img {
    width: 100px;
    height: 30px;
  }
  .footerLogo .logo p {
    font-size: 14px;
    font-weight: 400;
    margin-top: 2px;
  }
  .footerClient {
    width: 45%;
    gap: 8px;
    justify-content: center;
    margin-top: 10px;
  }
  .footerClient img {
    width: 35px;
    height: 38px;
  }
}
