.input {
  margin: 15px auto 0;
  text-align: center;
  margin: 0 auto;
}
.input input {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  width: 58px !important;
  height: 53px;
  padding: 5px;
  margin: 5px;
  font-size: 20px;
  text-align: center;
  direction: rtl;
}
.input div {
  display: block !important;
  direction: ltr;
}

@media (max-width: 768px) {
  .input input {
    width: 35px !important;
    height: 40px;
    padding: 5px;
    margin: 5px;
    font-size: 15px;
  }
}
