.paymentInput,
.button {
  padding: 0 25px;
}
.paymentInfo input {
  width: 255px;
  height: 45px;
  padding: 8px;
  margin: 8px 0 8px 22px;
  border-radius: 5px;
  border: 1px solid #00000080;
}

.paymentInput {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.button {
  text-align: left;
  border-top: 1px solid #00000033;
  padding-top: 15px;
  margin-top: 15px;
}
.button .first {
  width: 145px;
  height: 44px;
  border-radius: 5px;
  padding: 8px;
  border: 1px solid #28a745;
  background-color: #28a745;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin: 0 5px 10px;
}
.button .second {
  width: 145px;
  height: 44px;
  border-radius: 5px;
  padding: 8px;
  border: 1px solid #28a745;
  background-color: #fff;
  color: #28a745;
  font-size: 16px;
  font-weight: 600;
  margin: 0 5px 10px;
}

@media (max-width: 767px) {
  .button {
    text-align: center;
    display: flex;
  }
  .paymentInput {
    padding: 0 15px !important;
  }
  .paymentInfo input{
     width: 285px !important;
    margin: 8px 0 8px 0px !important;
  }
}
