.profile {
  width: 75% !important;
}
.profile .accountInfo {
  padding: 20px;
}
.profile .accountInfo,
.profile .userInfo,
.profile .bankInfo {
  border: 1px solid #00000033;
  border-radius: 10px;
  width: 100%;
  width: 100%;

  margin: 0 20px 25px;
}
.accountInfo p {
  font-size: 16px;
  font-weight: 400;
}
.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 10px 5px;
}
.info div {
  display: flex;
  justify-content: center;
  /* gap: 20px; */
  /* margin-top: 10px; */
}
.info button {
  color: #009eca;
  border: none;
  background-color: transparent;
  /* display: flex;
  gap: 7px; */
  font-size: 14px;
  font-weight: 400;
}
.info button img {
  vertical-align: middle;
  margin-left: 7px;
}
.userInfo {
  padding: 25px 0 10px;
}

.userInfo .title {
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
}
.userInfo .title p,
.bankInfo .title p {
  font-size: 16px;
  font-weight: 400;
}
.userInfo .title button {
  color: #009eca;
  border: none;
  background-color: transparent;
  display: flex;
  gap: 7px;
  font-size: 14px;
  font-weight: 400;
}
.information {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 25px 10px;
}
.information div {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  margin-top: 15px;
}
.information div label,
.info div label {
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  width: 120px;
}
.information div span,
.info div span {
  font-size: 14px;
  font-weight: 600;
  color: #282828;
}
.bankInfo .title button {
  color: #009eca;
  border: none;
  background-color: transparent;
  display: flex;
  gap: 7px;
  font-size: 14px;
  font-weight: 400;
}
.bankInfo .title {
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
}
.bankInfo {
  padding: 25px 0 10px;
}
.loading {
  margin: 6% 47%;
    text-align: center;
    display: flex;
    align-items: center;
}
