.search {
  display: flex;
  align-items: center;
  width: 874px;
  height: 71px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 5px 10px;
  margin: 0 auto;
}
.divider {
  width:1px;
  background-color: rgba(0, 0, 0, 0.2);
  height: 56px;
  margin-left: 10px;
}
.search div {
  display: flex;
  justify-content: flex-start;
}
.search div input {
  width: 200px;
  border: none;
  padding-right: 5px;
  padding-left: 5px;
}
.search div input:focus-visible {
  border: none;
}
.search input::placeholder {
  color: #2c2c2c;
  font-size: 17px;
}

.search div button {
  background-color: #28a745;
  border: none;
  padding: 8px;
  border-radius: 16px;
  color: #fff;
  font-size: 1.3rem;
  letter-spacing: 1px;
  width: 170px;
  height: 51px;
}
