.container {
  max-width: 1188px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text {
  text-align: center;
  width: 50%;
}
.text h3 {
  font-size: 36px;
  font-weight: 500;
  color: #282828;
  margin-bottom: 50px;
}
.text button {
  width: 361px;
  height: 75px;
  background-color: #d8ffe1;
  border-radius: 16px;
  padding: 8px;
  margin: 8px;
  color: #28a745;
  font-size: 28px;
  font-weight: 500;
  border: none;
}
@media (max-width: 767px) {
  .container {
    flex-direction: column-reverse;
  }
  .container img {
    width: 322px !important;
    height: 322px !important;
    margin: 15px auto;
  }
  .text {
    width: 100%;
    margin-top: -40px;
  }
  .text h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  .text p {
    font-size: 24px !important;
    font-weight: 600;
    color: #282828;
    text-align: right;
  }
  .text button {
    width: 232px;
    height: 58px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 75px;
  }
}
